<%- include("header") -%>

		
		
		<div class="box" >

		<div class="box" id="heading">
			<h1> <%= listtitle %> </h1>
		</div>

		<form class="item" action="/" method="post">
	
		<input placeholder="" type="text" name="NewInput" autocomplete="off">
		<button type="submit" name="list" value="<%= listtitle %>" >+</button>
		</form>

		<% NewListItem.forEach( function(item) { %>
		<form action="/delete" method="post">
			<div class="item">
			<input type="checkbox" name="checkbox" value="<%= item._id%>" onChange="this.form.submit()">
				<p> <%= item.name %></p>
			</div>
			<input type= "hidden" name="listName" value="<%= listtitle%>"></input>
		</form>
			
		<% }); %>
		
		
		</div>

<%- include("footer") -%>
	